.top-banner-wrapper {
  .banner {
    height: 270px;
    display: flex;
    position: relative;
  }

  .banner-left {
    width: 730px;

    .banner-item {
      overflow: hidden;
      height: 270px;

      .image {
        width: 100%;
      }
    }
  }

  .banner-right {
    width: 254px;
    height: 270px;
    background: url('@/assets/img/download.png') no-repeat center;
    background-size: cover;
  }

  .banner-control {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 63px;

    .btn {
      position: absolute;
      width: 37px;
      height: 63px;
      background-image: url('@/assets/img/banner_sprite.png');
      background-color: transparent;
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    .left {
      left: -68px;
      background-position: 0 -360px;
    }

    .right {
      right: -68px;
      background-position: 0 -508px;
    }
  }
}
