.panel-header-wrapper {
  display: flex;
  height: 41px;
  line-height: 41px;
  background: url('@/assets/img/playpanel_bg.png') 0 0;

  .header-left {
    display: flex;
    justify-content: space-between;
    width: 553px;
    padding: 0 25px;

    h3 {
      color: #e2e2e2;
      font-weight: 700;
    }

    .operator {
      color: #ccc;
      display: flex;
      justify-content: space-between;
      width: 120px;

      button {
        background-color: transparent;
        color: #ccc;
        cursor: pointer;
        white-space: nowrap;
      }

      .icon {
        display: inline-block;
        width: 16px;
        height: 16px;
        position: relative;
        top: 4px;
        right: 2px;
      }

      .favor {
        background-position: -24px 0;
      }

      .remove {
        width: 13px;
        background-position: -51px 0;
      }
    }
  }

  .header-right {
    flex: 1;
    text-align: center;
    color: #fff;
    font-size: 14px;
  }
}
